* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: rgb(242, 241, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
nav .nav-left img {
  height: 50px;
  position: relative;
  left: 30px;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  position: relative;
  right: 40px;
}
nav .nav-right ul li a {
  text-decoration: none;
  color: black;
}
nav .nav-right ul a:hover {
  background: skyblue;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: sans-serif;
}

footer {
  background-color: rgba(22, 67, 92, 0.94);
  font-family: sans-serif;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  padding-top: 30px;
}
footer .logo-describe img {
  width: 100px;
  padding-left: 120px;
}
footer #_image {
  width: 30px;
}
footer #_image:nth-child(4) {
  padding-bottom: 5px;
}
footer .about-us {
  padding-top: 25px;
}
footer .products {
  padding-top: 25px;
}
footer li {
  padding-top: 10px;
}
footer .contact-icons {
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}
.card .electronic-card {
  width: 300px;
  border: 1px solid rgba(152, 151, 151, 0.843);
  background-color: rgba(128, 128, 128, 0.06);
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card .electronic-card:hover {
  box-shadow: 0px 1px 8px;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.card .btn {
  display: flex;
  justify-content: space-evenly;
}
.card .btn i {
  font-size: 35px;
  position: relative;
}
.card button {
  background-color: rgba(128, 128, 128, 0.448);
  width: 120px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  position: relative;
  padding: 8px;
}
.card button :hover {
  transform: scale(1.1);
}
.card img {
  width: 200px;
  border-radius: 12px 12px 0px 0px;
}
.card .group-icons {
  color: gold;
}
.card #kitchen {
  height: 300px;
  width: 300px;
}
.card #cloth {
  height: 200px;
  width: 300px;
}
.card #vegetable {
  height: 200px;
  width: 300px;
}
.card h2 {
  position: relative;
  left: 120px;
}

main {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
main .card-electronic {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
main .card-electronic .electronic {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.06);
  height: 420px;
  border-radius: 12px;
  gap: 15px;
}
main .card-electronic .electronic img {
  border-radius: 12px 12px 0px 0px;
}
main .card-electronic .electronic #electronic {
  width: 200px;
  height: 220px;
}
main .card-electronic .electronic .group-icons {
  color: gold;
}
main .card-electronic .electronic .btn {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}
main .card-electronic .electronic button {
  background-color: rgba(128, 128, 128, 0.448);
  width: 80px;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  position: relative;
  padding: 5px;
}/*# sourceMappingURL=brand2.css.map */