* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: rgb(242, 241, 241);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
nav .nav-left img {
  height: 50px;
  position: relative;
  left: 30px;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  position: relative;
  right: 40px;
}
nav .nav-right ul li a {
  text-decoration: none;
  color: black;
}
nav .nav-right ul a:hover {
  background: skyblue;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: sans-serif;
}

footer {
  background-color: rgba(22, 67, 92, 0.94);
  font-family: sans-serif;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
footer .logo-describe img {
  width: 100px;
  padding-left: 120px;
}
footer #_image {
  width: 30px;
}
footer #_image:nth-child(4) {
  padding-bottom: 5px;
}
footer .about-us {
  padding-top: 25px;
}
footer .products {
  padding-top: 25px;
}
footer li {
  padding-top: 10px;
}

main {
  width: 100%;
  font-family: sans-serif;
}
main .card {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}
main .electronic-card {
  border: 1px solid rgba(152, 151, 151, 0.843);
  background-color: rgba(128, 128, 128, 0.06);
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .electronic-card:hover {
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  transform: scale(1.1);
}
main .btn {
  display: flex;
  justify-content: space-evenly;
}
main .btn i {
  font-size: 35px;
  position: relative;
}
main button {
  background-color: rgba(128, 128, 128, 0.448);
  width: 120px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  position: relative;
  padding: 8px;
}
main button:hover {
  transform: scale(1.1);
  box-shadow: 2px 1px 1px 1px;
}
main img {
  width: 280px;
  border-radius: 12px 12px 0px 0px;
}
main .group-icons {
  color: gold;
}
main #kitchen {
  height: 300px;
}
main #cloth {
  height: 300px;
}
main #vegetable {
  height: 300px;
}
main h2 {
  position: relative;
  left: 120px;
}

header {
  width: 100%;
  height: 500px;
  background: linear-gradient(skyblue, rgba(135, 207, 235, 0.108));
  border-bottom: 1px solid black;
}
header img {
  width: 50%;
  position: relative;
  left: 50%;
  top: 20px;
}
header h1, header p, header button {
  position: relative;
  bottom: 300px;
  left: 120px;
}
header h1 {
  font-size: 80px;
}
header p {
  position: relative;
  left: 10%;
}
header button {
  width: 10%;
  background: orange;
  margin-top: 30px;
  padding: 15px;
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10%;
}
header button :hover {
  transform: scale(1.5);
}
header button .material-icons {
  position: relative;
  left: 10px;
}/*# sourceMappingURL=index.css.map */