@import "components/nav";
@import "components/footer";
@import "components/card";
main{
    display: flex;
    flex-direction: column;
    .card-electronic{
        display: flex;
        justify-content: space-evenly;
        /* padding-top: 30px;
        padding-bottom: 40px; */
        .electronic{
            width: 200px;
            display: flex;
            flex-direction: column;
            border: 1px solid gray;
            background-color: rgba(128, 128, 128, 0.06);
            height: 420px;
            border-radius: 12px;
            .group-icons{
                color: gold;
            }
            
        }
    }
}


.btn{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

button{
    background-color: rgba(128, 128, 128, 0.448);
    width: 80px;
    font-size: 13px;
    border-radius: 8px;
    border: none;    
    position: relative;
    padding: 5px;
}
img{
    border-radius: 12px 12px 0px 0px;
}
#cloth{
    width: 200px;
    height: 220px;
}
