@import "components/nav";
@import "components/footer";
@import "components/search";
@import "mixins/responsive";
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    padding: 70px;
    height: 155vh;
    position: relative;
    bottom: 50px;
    top: 80px;
    padding: 30px;
    @include responsive(Mobile) {
       padding: 5px;
       height: 110vh;

    }
    h2{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .control-card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        .card img{
           width: 250px;
           padding: 50px;
           @include responsive(Mobile) {
            width: 100px;
            padding: 20px;
    
        }
        }
    }

}
