@import "variables";
main{
    width: 100%;
    font-family: sans-serif;
    .card{
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    
    .electronic-card{
        border: 1px solid rgba(152, 151, 151, 0.843);
        background-color: rgba(128, 128, 128, 0.06);
        height: 500px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .electronic-card:hover{
        box-shadow: 0.5px 0.5px 0.5px 0.5px;
        transform: scale(1.1);
    }
    .btn{
        display: flex;
        justify-content: space-evenly;
    }
    .btn i{
        font-size: 35px;
        position: relative;
    }
    button{
        background-color: rgba(128, 128, 128, 0.448);
        width: 120px;
        font-size: 15px;
        border-radius: 8px;
        border: none;    
        position: relative;
        padding: 8px;
    }
    button:hover{
        transform: scale(1.1);
        box-shadow: 2px 1px 1px 1px;
    }
    img{
        width: 280px;
        border-radius: 12px 12px 0px 0px;
        
    }
    .group-icons{
        color: gold;
    }
    #kitchen{
        height: 300px;
    }
    #cloth{
        height: 300px;
    }
    #vegetable{
        height: 300px;
    }
    h2{
        position: relative;
        left: 120px;
    }
}


