@import"variables";
footer{
    background-color: $footer;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.page_service{
    display: flex;
    list-style: none;
    gap: 20px;
}
#logo_image{
    width: 100px;
}
#_image{
    width: 30px;
}
#gmail_image{
    width: 30px;
    position: relative;
    bottom: 5px;
}
.contact-list{
    position: relative;
    top: 15px;

}
.about-us, .products{
    position: relative;
    top: 35px;
    padding: 10px;
}
li{
    padding-top: 10px;
}