@import "variables";
main{
    padding-bottom: 50px;
    .control-card{
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        border: 1px solid black;
        width: 350px;
        height: 400px;
    }
    .btn{
        display: flex;
    }
}
