@import "variables";
.mian-service{
    display: flex;
    justify-content: center;
    gap: 100px;
    .service{
        background: $service;
        color: white;
        width: 300px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 12px;
        img{
            width: 60px;
        }
        p{
            display: flex;
            flex-direction: column;
        }
    }
}