@import "variables";
*{
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    background: $navbar ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    .nav-left img {
        height: 65px;
        position: relative;
        left: 30px;
        top: 2px;

    }

    .nav-right {

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 50px;
            position: relative;
            right: 40px;

            li a {
                text-decoration: none;
                color: black;

            }
            a:hover{
                background: skyblue;
                border-radius: 10px;
                padding: 8px 12px;
                font-family: sans-serif;

            }
        }
    }
}