.search{
    display: flex;
    margin-bottom: 20px;
}
.search > input{
    width: 90%;
    padding-left: 90px;
    position: relative;
    left:25px;
    border-radius: 10px;
    border: 2px solid rgb(167, 167, 167);
    outline: none;

}
.search > img{
    width: 4%;
    position: relative;
    right: 40px;
    cursor: pointer;
        
}
.control-card{
   display: flex;
   justify-content: space-around;
   position: relative;
   margin-bottom: 10px;
}
.card{
    position: relative;
    left: 30px;
}
.card > img{
    width: 70%;    
}
.card > p{
    margin-top: 10px;
}
.control-card1{
    display: flex;
    justify-content: space-around;
    position: relative;
 }
 .card-product{
    position: relative;
    left: 30px;
 }
 .card-product > img{
    width: 70%;
 }
 .card-product > p{
    margin-top: 10px;
 }